<div class="login_wrapper">
    <div class="animate form login_form" id="register">
        <section class="login_content">
            <form action="javascript:void(0);" id="userVue">
                <h1>*** Manager System</h1>
                <div>
                    <input class="form-control" name="userName" placeholder="Username"
                           required="" type="text" v-model:value="userName" />
                </div>
                <div>
                    <input class="form-control" name="password" placeholder="Password"
                           required="" type="password" v-model:value="password" />
                </div>
                <div>
                    <a @click="register()" class="btn btn-default submit" href="javascript:void(0);"
                       id="registerButton">Submit</a>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                    <p class="change_link">Already a member ?
                        <a class="to_register" href="/account/login"> Log in </a>
                    </p>

                    <div class="clearfix"></div>
                    <br />

                    <div>
                        <h1><i class="fa fa-paw"></i> Hyman Hu</h1>
                        <p>©2016 All Rights Reserved. Create by HymanHu.</p>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

<script type="text/javascript">
    var userVue = new Vue({
        el: "#userVue",
        data: {
            userName: "",
            password: "",
        },
        created: function() {
            this.initUser(2);
        },
        methods: {
            register: function () {
                user = {};
                user.userName = this.userName;
                user.password = this.password;

                $.ajax({
                    url : "/api/user",
                    type : "post",
                    contentType: "application/json",
                    data : JSON.stringify(user),
                    success : function (data) {
                        if (data.status == 200) {
                            alert("Register success.")
                            // location.href = "/account/login";
                        } else {
                            layer.msg(data.message, {icon: 0});
                        }
                    },
                    error : function (data) {
                        layer.msg(data.responseText, {icon: 0});
                    }
                });
            },
            initUser: function(userId) {
                var me = this;
                $.ajax({
                    url : "/api/user/" + userId,
                    type : "get",
                    success : function (rs) {
                        me.userName = rs.userName;
                        me.password = rs.password;
                    },
                    error : function (data) {
                        layer.alert(data.responseText, {icon: 0});
                    }
                });
            },
        }
    });
</script>